.add_activity_description_container {
  white-space: pre-wrap;
  margin: 0.5em 0;
}

.add_activity_description_container-text-aria {
  width: 100%;
}

.add_activity_main label {
  font-weight: bold;
}


.reformat-datepicker input {
  min-height: 0 !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.reformat-datepicker label {
  font-size: 1.2rem;
}